<footer class="footer">
    <div class="footer__tele2">
        <p class="footer__title">
            © Tele2 Россия, 2024
        </p>
        <img src="../../../assets/images/warning-18.svg" alt="">
    </div>
    <ul class="footer__list">
        <li>
            <a href="">Об услуге</a>
        </li>
        <li>
            <a href="">Пользовательское соглашение</a>
        </li>
        <li>
            <a href="">Публичная оферта</a>
        </li>
        <li>
            <a href="">Лицензионное соглашение</a>
        </li>
    </ul>
    <div class="footer__info">
        <p>Вы получили это письмо, потому что подписаны на рассылку на сайте.
            Если не хотите получать другие полезные письма- <a href="">отписаться</a>.
        </p>
    </div>
</footer>
